<header class="flex flex-col mt-2 border-b-2 sm:mt-8 border-polar-night-darker">
  <div class="mx-auto">
    <div class="flex items-center mx-auto">
      <div class="w-16 h-8 sm:w-32 sm:h-16">
        <img src="/assets/images/logo.png" class="object-cover">
      </div>
    <a aria-label="Go back to the home page" href="/" class="ml-2 text-2xl font-semibold sm:text-2xl md:text-5xl">{{site.title}}</a>
    </div>
  </div>
  <nav class="flex justify-around pb-1 mx-4 font-medium sm:mx-auto">
    <a aria-label="All About Me!" class="block w-32 p-2 font-medium hover:underline" href="/about/">About</a>
    <a aria-label="Check out my favorite links" class="block w-32 p-2 font-medium hover:underline" href="/links/">Links</a>
    <a aria-label="Check out what I am up to now" class="block w-32 p-2 font-medium hover:underline" href="/now/">Now</a>
  </nav>
</header>
