---
layout: default
---
{%- if draft %}
<h1 class="text-aurora-red">DRAFT POST! POST DRAFT!</h1>
{% endif %}
<h1>{{ title }}</h1>
{% if image %}
<p class="pt-2">
  <img class="block" src="{{image}}" alt="{{image_alt}}" />
  {% if image_credit %}
  <span class="text-base text-gray-500">Photo Credit: {{image_credit}}</span>
  {% endif %}
</p>
{% endif %}
{% if build %}
<div class="mt-5 callout-block">
  <div>
    <h1 class="text-2xl font-semibold leading-6 text-gray-900">
      Build Facts
    </h1>
  </div>
  <div class="mb-5">
    <dl>
      {% if build.case %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Case
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.case}}
        </dd>
      </div>
      {% endif %}
      {% if build.plate %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Plate
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.plate}}
        </dd>
      </div>
      {% endif %}
      {% if build.pcb %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          PCB
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.pcb}}
        </dd>
      </div>
      {% endif %}
      {% if build.keycaps %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Key Caps
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.keycaps}}
        </dd>
      </div>
      {% endif %}
      {% if build.switches %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Switches
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.switches}}
        </dd>
      </div>
      {% endif %}
      {% if build.stabs %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Stabilizers
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.stabs}}
        </dd>
      </div>
      {% endif %}
      {% if build.foam %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Foam
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.foam}}
        </dd>
      </div>
      {% endif %}
      {% if build.other %}
      <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-4 sm:gap-4 sm:border-t sm:border-yellow-300 sm:pt-5">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Other
        </dt>
        <dd class="mt-1 leading-5 text-gray-900 text-md sm:mt-0 sm:col-span-3">
          {{build.other}}
        </dd>
      </div>
      {% endif %}
    </dl>
  </div>
</div>
{% endif %}
{{ content | safe }}
{% if soundTest %}
  <div class="mb-2">
    <h3 class="mb-2 text-2xl font-semibold text-center">Sound Profile</h3>
    {% if soundMessage %}
      <p>{{soundMessage}}</p>
    {% endif %}
    <p>{{soundTest}}</p>
  </div>
{% endif %}

{% if images %}
<h3 class="mt-4 text-2xl font-semibold text-center">Photos</h3>
<div class="flex flex-wrap">
{% for img in images %}
  <div class="w-full">
  <div class="h-full px-4 pt-3 mx-4 mt-2 overflow-hidden rounded shadow-lg">
  <img src="/assets/images/posts/{{page.fileSlug}}/{{img.img}}" alt="{{img.at}}" loading="lazy" />
    {% if img.desc %}
  <p class="mt-4">{{img.desc}}</p>
  {% endif %}
  </div>

  </div>
{% endfor %}
</div>
{% endif %}
<!--FOOTNOTES-->
